/* Reset some default styles */
body, input, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('use-case-bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    position: relative;
}

.search-section {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 7em; /* Adjust this to move the search bar closer to the top */
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

input[type="text"] {
    width: 70%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #21a1f1;
}

#results {
    margin-top: calc(8em + 50px); /* Adjust to account for the search section height */
    padding: 20px;
    height: calc(100vh - (8em + 50px) - 1cm); /* Leave 1cm at the bottom of the screen */
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.5);
}

.use-case {
    background: #444;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.use-case h2 {
    margin-bottom: 10px;
    color: #61dafb;
}

.use-case p {
    margin-bottom: 10px;
}
